DEBUG=
SECRET_KEY=

#DATABASE_URL='postgresql+asyncpg://postgres:postgres@10.0.3.15:15432/currency_converter'
#DATABASE_URL_TEST='postgresql+asyncpg://postgres:postgres@10.0.3.15:15432/currency_converter_test'
DATABASE_URL='postgresql+asyncpg://postgres:postgres@db:5432/currency_converter'
DATABASE_URL_TEST='postgresql+asyncpg://postgres:postgres@db:5432/currency_converter_test'

API_KEY_RATE=
